@mixin type{
    background-color: rgba(150, 246, 216, 0.798);
    color: rgb(100, 100, 100);
    text-align: left;
    font-size: 20px;
    font-weight: 700;
}
.type{
    @include type();
}
.active{
    @include type();
    transition: 0.2s ease 0s;
    background-color: rgba(60, 248, 188, 0.846);
    color: white;
}