.container{
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart{
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid orange;
    

}

.top{
    min-width: 800px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 2px solid orange;
    padding: 30px 30px 4px 30px;
}

.noinfo{
    padding: 2rem 4rem;

}
.buttonsBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.title{
    letter-spacing: 6px;
    font-size: 36px;    
    font-weight: 700;
    margin-bottom: 20px;
}



.bottom{
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    border-top: 2px solid orange;
    justify-content: space-between;
    align-items: center;
}




.clearAll{
    margin-right: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px 14px;
    border-radius: 10px;
    border: 2px solid orange;
    background-color: white;
    span{
        color: black;
    }
    &:hover{
        transition: 0.3s ease 0s;
        background-color:orange;    
        border: 2px solid rgb(97, 105, 250);
        span{
            color: white;
        }
    }

}


.items{

}
.details{
    display: flex;
    flex-direction: column;
    span{
        margin-bottom: 6px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
@mixin button{
    padding: 10px 20px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    border-color: white;
}

.buttonBack{
    background-color: rgb(97, 105, 250);
    padding: 20px 30px;
    font-weight: 700;
    border-radius: 1rem;
    span{
        color: white;
    }
    &:hover{
        transition: 0.3s ease 0s;
        background-color: rgb(255, 166, 0);
        span{
            color: white;
        }
        border-color: white;
    }
    
}
.payButton{
    @include button();
    background-color: white;
    border: 1px solid rgb(97, 105, 250);

    &:hover{
        transition: 0.3s ease 0s;
        background-color: rgb(97, 105, 250);
        span{
            color: white;
        }
        border-color: orange; 
    }
}

.buttonBackWrapper{
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}