@mixin button{
    background-color: rgb(97, 105, 250);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(228, 176, 80);
    padding: 20px 30px;
    font-weight: 700;
    border-radius: 1rem;
    &:hover{
        transition: 0.3s ease 0s;
        background-color: rgb(255, 166, 0);
        color: white;
        border-color: white;
    }
}

.logo{
    width: 200%;
    object-fit: contain;
    max-width: 400px;
    max-height: 140px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background-color:rgba(88, 253, 253, 0.799);
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.navButtons{
    padding: 20px 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.auth{
    @include button();
    margin-right: 20px;
}

.logout{
    @include button();
}